body {
  background-color: whitesmoke;
}

#footer {
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#post-detail-view {
  margin: auto;
  max-width: 50%;
}

#image-bottom {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
}

#image-bottom p {
  display: inline-block;
  color: black;
}

#article {
 font-size: 200%;
}

@media screen and (max-width: 800px){
  #post-detail-view {
    max-width: 100%;
  }
}