body {
  background-color: whitesmoke;
}
.nav-item {
  color: white;
}
#footer {
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#post-detail-view {
  margin: auto;
  max-width: 50%;
}

#image-bottom {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
}

#image-bottom p {
  display: inline-block;
  color: black;
}

#article {
 font-size: 200%;
}

#login {
  margin: 0 auto;
  margin-top: 10%;
  border: 5px;
  border-color: black;
  background-color: aliceblue;
  border-radius: 2%;
  padding: 10px;
}

#sign-in-btn {
  background: red;
}

#comments {
  margin-top: 30px;
  margin-bottom: 75px;
}


@media screen and (max-width: 800px){
  #post-detail-view {
    max-width: 100%;
  }
}