body {
  background-color: black;
  color: white;
}
.nav-item {
  color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
  border: 1px solid red;
}

#footer {
  margin-top: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#post-detail-view {
  margin: auto;
  max-width: 50%;
  margin-bottom: 200px;
}

#image-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

#image-bottom p {
  display: inline-block;
  color: black;
}

#article {
 font-size: 200%;
}

#login {
  margin: 0 auto;
  margin-top: 10%;
  border: 5px;
  border-color: black;
  background-color: aliceblue;
  border-radius: 2%;
  padding: 10px;
}

#sign-in-btn {
  background: red;
}

#comments-section {
  margin-top: 30px;
  margin-bottom: 150px;
}

#comment-submit {
  margin-bottom: 100px;
}

#comment-success {
  margin-bottom: 200px;
}

#leave-a-comment {
  margin-top: 50px;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

@media screen and (max-width: 800px){
  #post-detail-view {
    max-width: 100%;
  }
}