{% extends "base.html" %}

{% block content %}
<div id="home-title">
<h1>Telephile</h1>
<p>The Web's best TV series review site.</p>
</div>

<div class="about">

    <div class="col-sm-12">
      <div id="about-card" class="card">
        <div class="card-body">
          <h1 class="card-title">About Telephile</h1>
          <div id="about-text" class="card-text">
            <p>Welcome to Telephile, the ultimate platform for TV series enthusiasts like you to share your thoughts,
               opinions, and insights on the shows that have captured your imagination. We believe that every viewer has a unique perspective,
                and our website is designed to amplify your voice and create a community of passionate reviewers.</p>
                <br>
            <p>Telephile, we recognize that the power of television lies not only in the storytelling but also in the discussions and conversations that arise from it.
             That's why we've built a platform that encourages and celebrates your contributions.
              We believe that your reviews matter and can influence others in their TV series choices.</p>
              <br>
              <p>Whether you're a seasoned reviewer or just starting out, our user-friendly interface makes it easy for you to submit your reviews and share
             your experiences with the world. Simply create an account, choose the series you want to review, and let your thoughts flow. 
             Our intuitive rating system allows you to provide feedback on different aspects of the show,
              from the plot and characters to the production quality and overall enjoyment.</p>
              <br>
              <p>By contributing your reviews, you become an essential part of our vibrant community, connecting with fellow TV series 
            enthusiasts who share your passion. Engage in discussions, exchange recommendations, and discover new shows through the eyes of 
            like-minded viewers. We believe that the collective wisdom and diverse opinions of our users create a rich tapestry of perspectives 
            that elevates the TV series experience for everyone.</p>
            <br>
            <p>But Telephile is not just about sharing your thoughts; it's also a place for exploration and discovery.
             Our platform offers a vast library of TV series, both old and new, spanning a wide range of genres and styles. Browse through
              our extensive catalog, read reviews from fellow users, and uncover hidden gems that you might have missed.</p>
              <br>
            <p>So, whether you want to express your love for a beloved series, engage in passionate debates, or find your next
             binge-worthy obsession, Telephile is your go-to destination. Join our community today and 
             let your voice be heard in the ever-evolving world of television. Together, let's celebrate the art of storytelling 
             and the joy of TV series exploration.</p>
             <br>
             <br>
             <button class="btn btn-dark"><a href="{% url 'home' %}" style="color: white;"> Home </a></button>
        </div>
      </div>
    
  </div>
</div>
{%endblock%}