{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div id="home-title">
<h1>Welcome to Telephile</h1>
<p>The Web's best TV series review site.</p>
</div>

<div class="container-about">
   <div class="row">
      <div class="col-sm-12">
        <div id="about-card" class="card">
          <div class="card-body">
          {% if user.is_authenticated %}
          <h1 class="card-title">Post a Review</h1>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-dark"></input>
          </form>
          {% else %}
          <h2>Sorry you need to <a href="{% url 'account_login' %}">sign in</a> if you want to post a review!</h2>
        </div>
      </div>
    </div>
  </div>
</div>


{% endif %}
{%endblock%}