{% extends "base.html" %}

{% block content %}
{% if view %}
{% for x in view %}
{% if forloop.first %}
<h1 id="category-titles" style="color: white; margin-top: 20px;">{{ x.category.category }} Reviews</h1>
{% endif %}
{% endfor %}
<div class="container" style="color: black; width: 90%;">
    <div class="row">
      {% for x in view %}
        <div class="col-md-4" style="margin-bottom: 20px;">
            <div class="card" id="category-card">
                <div class="card-body">
                    <div class="image-container">
                      {% if "placeholder" in x.featured_image.url %}
                        <img class="card-img-top"
                            src="https://images.pexels.com/photos/10599961/pexels-photo-10599961.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                      {% else %}
                        <img class="card-img-top"src=" {{ x.featured_image.url }}">
                      {% endif %}
                      <a href="{% url 'post_detail' x.slug %}" style="text-decoration: none;" class="post-link">
                        <h2 class="card-title" id="post-title">{{ x.title }}</h2>
                    </a>
                    <p class="author">By: {{ x.author }}</p>
                    <hr/>
                    <p class="card-text text-muted h6">{{ x.created_on}}&nbsp;&nbsp;&nbsp; <i class="far fa-heart"></i>
                        {{ x.number_of_likes }} &nbsp;&nbsp;&nbsp; {{ total_comments }}</p>
                      <br>
                      <p>{{ x.category.category }}</p>
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  <script>
    // go to top of page function from w3 schools 
    let mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
  {% endif %}
{% endblock %}