{% extends "base.html" %}

{% block content %}

<div id="hero">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10" id="welcome-title">
        <h1>Welcome to Telephile</h1>
        <h2>The Internet's best TV series Review site</h2>
        <h3>Check out some of these great reviews <i class="fa-solid fa-down-long"></i></h3>
        <h3>Or how about <a href="{% url 'account_signup' %}">Signing up</a> and posting one of your own! <i class="fa-solid fa-user-plus"></i></h3></div>
    <div class="col-1"></div>
</div>


        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left" style="margin-bottom: 150px;">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" alt="card series image"
                                    src="https://images.pexels.com/photos/5197107/pexels-photo-5197107.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                                {% else %}
                                <img class="card-img-top" alt="card series image" src=" {{ post.featured_image.url }}">
                                {% endif %}
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" style="text-decoration: none;" class="post-link">
                                <h2 class="post-title">{{ post.title }}</h2>
                            </a>
                            <p class="author">By: {{ post.author }}</p>
                            <hr>
                            <p class="card-text text-muted h6">{{ post.created_on}}&nbsp;&nbsp;&nbsp; <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}&nbsp;&nbsp;&nbsp;{{ total_comments }} &nbsp;&nbsp;&nbsp; {{ post.category }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    

    {% if is_paginated %}
    <nav aria-label="Page navigation" style="margin-bottom: 100px;">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}


{% endblock %}