{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div id="post-detail-view" class="container">
   <!--Title-->
   <div id="title" class="col-12 d-flex justify-content-center">
      <h1>{{ post.title }}</h1>
   </div>
   <!--Image-->
   <div id="image" class="col-12 d-flex justify-content-center">
      {% if "placeholder" in post.featured_image.url %}
      <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
      {% else %}
      <img class="card-img-top" src=" {{ post.featured_image.url }}">
      {% endif %}
      <!--Author, created on, likes, comments, category-->
   </div>
   <div id="image-bottom" class="row">
    <h5>{{ post.author }} {{ post.created_on }}</h5>
       <!--total comments loop goes here-->
       <h5> Total comments:  Total likes: {{ post.number_of_likes }}</h5>
       <h5><a href="#">{{ post.category }} </a></h5>
  </div>
   <!--Article Content-->
   <div id="Article" class="col-12"><p>
    {{ post.content | safe }}</p>
   </div>
   <!--Comments-->
   <div id="comment-section">
      <div class="card">
         <div class="card-header">
           <h3>Comments Section</h3>
         </div>
         {% for comment in comments %}
         <div class="card-header">
            <cite>{{ comment.name }} , {{ comment.created_on }}</cite>
         <div class="card-body">
            <blockquote class="blockquote">
             <p>{{ comment.body | linebreaks }}</p>
            </blockquote>
         </div>
      </div>
         {% endfor %}
       </div>
      {% if commented %}
      <div id="comment-success" class="alert alert-success" role="alert">
         Your comment is awaiting approval 
      </div>
      {% else %}
      {% if user.is_authenticated %}
      <div id="leave-a-comment">
      <h5>Leave a comment:</h5>
      <p>{{ user.username }}</p>
      <form method="post">
         {{ comment_form | crispy }}
         {% csrf_token %}
         <button id="comment-submit" type="submit" class="btn btn-lg">Submit</button>
      </form>
      </div>
      {% endif %}
      {% endif %}
   </div>
</div>

{% endblock content %}