{% extends 'base.html' %} {% block content %}

<div id="post-detail-view" class="container">
    <div class="row">
        <div>
            <!--Title-->
            <div id="title" class="col-12 d-flex justify-content-center"><h1>{{ post.title }}</h1></div>
            <!--Image-->
            <div id="image" class="col-12 d-flex justify-content-center">{{ post.image }}</div>
            <!--Author, created on, likes, comments, category-->
            <div id="author" class="col-12 d-flex justify-content-center">{{ post.author }}</div>
            <!--Article Content-->
            <div id="Article" class="col-12 d-flex justify-content-center">{{ post.content }}</div>
            <!--Comments-->
            <div id="comments" class="col-12 d-flex justify-content-center">{{ post.comments }}</div>
        </div>
    </div>
</div>

{% endblock content %}